.chart {
  shape-rendering: crispEdges;
}

.graph-label {
	float: left;
}

.chart div {
  font: 10px sans-serif;
  text-align: right;
  color: white;
}

li.party-dem div.chart div{
	background-color: steelblue;
}

li.party-rep div.chart div{
	background-color: #b4464b;	
}