h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

.chart {
  margin: 0;
  shape-rendering: crispEdges;
}

.graph-label {
	float: left;
}

.chart {
  position: relative;
  height: 2em;
  background-color: Gainsboro;
}

.chart div {
  position: absolute;
  font: 1em sans-serif;
  text-align: right;
  line-height: 1em;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.chart.header {
  height: 2.35em;
}

.chart.header div,
.chart.header p {
  font-size: 1.2em;
  font-family: sans-serif;
}

.chart p {
  position: absolute;
  font: 1em sans-serif;
  text-align: right;
  line-height: 1em;
  font-weight: bold;
  color: #111;
  padding: .5em;  
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.cand-votes {
  padding-top: 0;
}

li.party-dem h2, li.party-rep h2 {
  font-size: 1.5em;
  font-weight: bold;
}

li.party-dem div.chart div, li.party-rep div.chart div {
  padding: .5em;
  font-weight: bold;
}

li.party-dem div.chart div{
	background-color: #027EA4;
}

li.party-rep div.chart div{
	background-color: #E4002B;	
}

li.party-dem div.chart span, li.party-rep div.chart span {
  right:auto;
  position:relative;
  padding: .5em;
  font-weight: bold;
  line-height: 2em;
}

table {
  width: 100%;
}
